/* Regole Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine Regole Reset */

/* Generali */
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  margin: auto;
  width: 1024px;

}
li {
  list-style: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* Fine Regole Generali */

/* Header */
header {
  color: white;
  background-color: #0b325a;
  height: 500px;
  background-image: url(../img/background-header.png);
  background-position: 110% 110%;
  background-repeat: no-repeat;
  background-size: 1000px;
  position: relative;
}
/* Inizio Navigation */
/** Menu **/
header .navigation {
  padding-top: 10px;
}
header .navigation .col {
  float: left;
}
header .navigation .menu {
  margin-top: 16px;
}

header .navigation .menu-center {
  width: 45%;
}
header .navigation .menu-right {
  width: 40%;
  text-align: right;
}
header .navigation .logo {
  width: 15%;
}
header .navigation .menu li {
  display: inline-block;
}
header .navigation .menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  color: white;
  margin-right: 10px;
}
header .navigation .menu li a.login {
  padding: 5px 18px;
  border: 1px solid white;
  border-radius: 5px;
}
header .navigation .menu li a.menu-item-green {
  padding: 5px 18px;
  border: 1px solid #7cbb02;
  background-color: #7cbb02;
  border-radius: 5px;
}
/** Fine Menu **/
/* Fine Navigation */

/* Inizio Teaser */
header .teaser {
  width: 33%;
  position: absolute;
  top: 38%;
}
header .teaser h1 {
  font-size: 44px;
  font-weight:400;
}
header .teaser a.cta {
  padding: 24px 18px;
  border: 2px solid #7cbb02;
  background-color: #7cbb02;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  top: 127%;
}
/* Fine Teaser */
/* Fine Header */

/* Main */
main {
  position: relative;
}
/* Shouter */
main .shouter {
  text-align: center;
  background-color: lightgray;
  padding: 30px 0;
}
main .shouter .title {
  font-size: 20px;
  margin-bottom: 10px;
}
main .shouter .subtitle {
  font-size: 15px;
  color: gray;
}
/* FineShouter */
/* Regole Upper */
main .upper {
  height: 400px;
  margin-top: 40px;
  margin-bottom: 96px;
}

main .upper .left {
  width: 33%;
  float: left;
}
main .upper .middle {
  width: 33%;
  float: left;
}
main .upper  .right {
  width: 33%;
  float: left;
}
main .upper img {
  width: 50%;
  margin-bottom: 20px;
}
main .upper .left img {
  width: 30%;
}
main .upper .right img {
  width: 36%;
}
main .upper .left,
main .upper .middle,
main .upper .right {
  padding: 8px;
  text-align: center;
  color: gray;
}
main .upper .title-green {
  color: #7cbb02;
  font-size: 20px;
}
main .upper .col hr {
  margin: 20px 108px;
  color: lightgray;
}
/* Fine Regole Upper */

main .intermezzo {
  color: lightgray;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
/* Regole Downer */
main .downer .col  {
  float: left;
  width: 45%;
}
main .downer .down-text {
  padding: 10px;
  margin-left: 66px;
}
main .downer .title  {
  font-size: 24px;
  /* margin-bottom: 10px; */
}
main .downer .abstract  {
  color: gray;
  font-size: 16px;
  /* margin-bottom: 10px; */
}
main .downer a {
  font-size: 14px;

}
main .down-text>p {
  margin-bottom: 10px;
}
/* Regole Downer */
/* Fine Main */

/* Footer */
footer {
  height: 150px;
  background-color: lightgray;
  position: relative;
}
footer .help a {
  padding: 18px 9px;
  border: 1px solid #7cbb02;
  background-color: #7cbb02;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 24%;
  z-index: 10;
  position: fixed;

}
/* Fine Footer */
